sklearn/datasets/spam
mnist/data/t10k-images-idx3-ubyte
mnist/data/t10k-images-idx3-ubyte.gz
mnist/data/t10k-labels-idx1-ubyte.gz
*.gz
sklearn/my_model.pkl
sklearn/.ipynb_checkpoints/03_training_linear_models-checkpoint.ipynb
sklearn/.ipynb_checkpoints/
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/KNN-checkpoint.ipynb
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/CrossValidation-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/linear_regression-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/algorithm chain and pipeline-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/Loss Function in Linear Regressions(tensorflow)-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/
sklearn/.ipynb_checkpoints/01_end_to_end_machine_learning_project-checkpoint.ipynb
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/.ipynb_checkpoints/01_end_to_end_machine_learning_project-checkpoint.ipynb
R/.ipynb_checkpoints/1.Perceptron-checkpoint.ipynb
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/.ipynb_checkpoints/01_end_to_end_machine_learning_project-checkpoint.ipynb
R_Machine_Learning_by_example
R/.*
sklearn/project/ml-at-work
sklearn/project/python-machine-learning-book-2nd-edition
.ipynb_checkpoints/05_Predicting_Customer_Shopping_Trends_with_Market_Basket_Analysis-checkpoint.ipynb
