sklearn/datasets/spam
mnist/data/t10k-images-idx3-ubyte
mnist/data/t10k-images-idx3-ubyte.gz
mnist/data/t10k-labels-idx1-ubyte.gz
*.gz
sklearn/my_model.pkl
sklearn/.ipynb_checkpoints/03_training_linear_models-checkpoint.ipynb
sklearn/.ipynb_checkpoints/
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/KNN-checkpoint.ipynb
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/CrossValidation-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/linear_regression-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/algorithm chain and pipeline-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/Loss Function in Linear Regressions(tensorflow)-checkpoint.ipynb
sklearn/education/.ipynb_checkpoints/
sklearn/.ipynb_checkpoints/01_end_to_end_machine_learning_project-checkpoint.ipynb
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/.ipynb_checkpoints/01_end_to_end_machine_learning_project-checkpoint.ipynb
R/.ipynb_checkpoints/1.Perceptron-checkpoint.ipynb
sklearn/.ipynb_checkpoints/02_classification-checkpoint.ipynb
sklearn/.ipynb_checkpoints/01_end_to_end_machine_learning_project-checkpoint.ipynb
R_Machine_Learning_by_example
R/.*
sklearn/project/ml-at-work
sklearn/project/python-machine-learning-book-2nd-edition
.ipynb_checkpoints/05_Predicting_Customer_Shopping_Trends_with_Market_Basket_Analysis-checkpoint.ipynb
tensorflow/handson-ml
tensorflow/handson_korean
tensorflow/tf_logs
tensorflow/logs
tensorflow/models
sklearn/project/02_Training_Simple_Machine_Learning_Algorithms_for_Classification/.ipynb_checkpoints/02_Training_Simple_Machine_Learning_Algorithms_for_Classification(ing)-checkpoint.ipynb
sklearn/project

tensorflow/.ipynb_checkpoints/01_Up_and_running_with_TensorFlow-checkpoint.ipynb
tensorflow/.ipynb_checkpoints/02_introduction_to_artificial_neural_networks-checkpoint.ipynb
tensorflow/.ipynb_checkpoints
tensorflow/__pycache__/tensorflow_graph_in_jupyter.cpython-36.pyc
tensorflow/11_deep_learning.ipynb
tensorflow/checkpoint
R/untitled.dio
tensorflow/my_model_final.ckpt.data-00000-of-00001
tensorflow/my_model_final.ckpt.index
tensorflow/my_model_final.ckpt.meta
tensorflow/my_time_series_model.*
tensorflow/datasets/words/words.zip
Python_Machine_Learning/Python-Machine-Learning-Second-Edition/
Python_Machine_Learning/007022/
Python_Machine_Learning/keras/.ipynb_checkpoints/ch13-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/02_Binary_classification-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/01_Basic_of_deeplearning-checkpoint.ipynb
Python_Machine_Learning/sklearn/.ipynb_checkpoints/1.classification-checkpoint.ipynb
Python_Machine_Learning/keras/ch13.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/03_Multi_classification-checkpoint.ipynb
Python_Machine_Learning/keras/datasets
Python_Machine_Learning/keras/.ipynb_checkpoints/Untitled3-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/04_Regression-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/06_Introduction_to_convnets-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/07_Training_a_convnet_from_a_small_dataset-checkpoint.ipynb
Python_Machine_Learning/keras/models
Python_Machine_Learning/keras/.ipynb_checkpoints/08_Using_a_pretrained_convnet-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/09_Working_with_text_data-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/10_recurrent_neural_networks-checkpoint.ipynb
sklearn/.ipynb_checkpoints/01_end_to_end_machine_learning_project-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/11_Sequence_processing_with_convnets-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/setup-checkpoint.py
Python_Machine_Learning/keras/.ipynb_checkpoints/05_Introduction_to_convnets-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/06_Training_a_convnet_from_a_small_dataset-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/07_Using_a_pretrained_convnet-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/08_Working_with_text_data-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/09_recurrent_neural_networks-checkpoint.ipynb
Python_Machine_Learning/keras/.ipynb_checkpoints/10_Sequence_processing_with_convnets-checkpoint.ipynb
